<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .login-Container {
        height: 93vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
      }
      #successMessage {
        position: absolute;
        top: 6%;
        right: 0;
        background-color: #4cd388;
        color: white;
        padding: 10px;
        font-size: 20px;
        margin: 10px;
        border-radius: 4px;
        animation: message 0.3s ease-in-out;
      }
      @keyframes message {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
    </style>
  </head>
  <body>
    <%- include('Nav',{username:null} ) %>
    <section class="login-Container">
      <div class="w-96 p-8 bg-white rounded-md border-gray-300 border-2">
        <h2 class="text-2xl font-bold mb-3 text-center">Login Form</h2>
        <form action="/Login" method="POST">
          <label for="email" class="font-semibold text-xl">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email here..."
            class="p-3 w-full rounded-sm border-gray-300 border-2 mt-2"
            required
          />
          <label for="password" class="font-semibold text-xl">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password here..."
            class="p-3 w-full rounded-sm border-gray-300 border-2 mt-2"
            required
          />
          <button
            type="submit"
            class="w-full cursor-pointer bg-green-500 p-4 mt-4 font-bold text-white text-xl rounded"
          >
            Submit
          </button>
        </form>
        <% if(error) {%>
        <div class="text-red-600"><%= error%></div>
        <%}%>
        <div class="text-center mt-4">
          Don't have an account?<a
            href="/Signup"
            class="text-blue-600 font-semibold"
          >
            Signup</a
          >
        </div>
        <% if(success){ %>
        <div id="successMessage"><%= success %></div>
        <% } %>
      </div>
    </section>
  </body>
  <script>
    setTimeout(() => {
      const successMessage = document.getElementById("successMessage");
      if (successMessage) {
        successMessage.style.display = "none";
      }
    }, 3000);
  </script>
</html>
